/* Author details:
==================
Name: KUTUB UDDIN;

OUTLINE: 
==================
1. Banner Parti 
2. Donate Part
3. Donate Plan
*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    background: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Nunito Sans', sans-serif;
}
P{
    font-family: 'Mukta', sans-serif;
}
.btn{
    background: orangered;
    border-radius: 8px;
    outline: 0;
    border: 0;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}


/*====BannerPart Start=====*/


#bannerPartStart{
    background-image: linear-gradient(rgba(10, 7, 7, 0.3), rgb(8, 8, 3)), url(../Donate/images/donation3.jpg);
    width: 100%;
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    text-align: center;
}
#DonatePlan,
#DonatePart{
    width: 100%;
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}
.bannerText{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 200px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    transform: translate(-50% , -50%);
    
}

.DonateText{
    width: 800px;
    top: 30%;
    left: 50%;
    padding: 0;
    color: black;
}
.DonatePlanText{
width: 100%;
}
.DonatePlanText h1,
.DonateText h1,
.bannerText h1{
    font-weight: bold;
    font-size: 60px;
    color: white;
}
.DonatePlanText p,
.bannerText p{
    font-size: 18px;
    color: white;
    line-height: 40px;
}
.DonateText p,
.DonatePlanText p,
.DonatePlanText h1,
.DonateText h1{
    color: black;
}
.Plans,
.AmountOfMoney{
    width: 800px;
    height: auto;
    display: flex;
    padding: 20px 15px;
    background: wheat;
    margin: 30px 0;
}
.AmountOfMoney div{
    height: 100px;
    width: 140px;
    text-align: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 16px;
    margin: 10px;
    padding: 30px;
    
}

.AmountOfMoney div p{
    font-size: 30px;
    color: black;
}
.AmountOfMoney .border {
    background: rgb(247, 185, 185);
    color: red;
    border: 2px solid orangered;
}
.AmountOfMoney .border p{
    color: red;
}

input{
    width: 800px;
    padding: 26px;
    text-align: center;
    color: black;
    border: 0;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    margin: 20px 0px;
    font-size: 22px;
}
/*----DonatePart end---*/

/*----DonatePlan start---*/
#DonatePlan{
    margin: 85px 0px 10px 0;
    width: 100%;
    padding: 20px;
    position: relative;
    background: rgb(226, 225, 223);
}
.DonatePlanText{
    width: 100%;
}
.Plans{
    position: absolute;
    width: 90%;
    padding: 0;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    margin: 20px 10px;
    background: transparent;
}
.Plans div{
 width: 400px;
 height: auto;
 background: white;
 margin: 10px;
 text-align: left;
 padding: 20px 15px;
 border-radius: 16px;
 background-color: aqua;
}
.Plans div h3{
    font-size: 25px;
    margin: 10px 0;
    font-weight: bold;
}
.Plans div img{
    width: 80px;
    height: 80px;
   
}
.Plans .plansDiv2{
    background: chocolate;
    color: white;
}
.Plans .plansDiv3{
    background: rgb(129, 100, 3);
    color: white;
}
/*----DonatePlan end---*/


/*----overview start---*/

#overview{
    width: 100%;
    position: relative;
    margin: 20px 0;
    height: 600px;
    text-align: center;
}#overview h1{
    font-size: 50px;
    color: rgb(2, 1, 0);
    font-family: 'Lobster', cursive;
    margin: 20px 0;
}
.OverViewImages{
    position: absolute;
    width: 95%;
    left: 50%;
    top: 60%;
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
}
.OverViewImages .img{
    width: 50%;
    overflow: hidden;
    height: 450px;
    margin: 0 10px;
    background: rgb(255, 255, 255);
}
.OverViewImages .imgText{
    width: 50%;
    text-align: left;
    height: 450px;
    border: 2px solid orangered;
    margin: 0 10px;
    padding: 15px;
}

#overview .OverViewImages .imgText h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    margin: 10px 0;
}
#overview .OverViewImages .imgText p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    margin: 10px 0px 20px 0;
}

.imgbox1,
.imgbox2{
    display: flex;
}
.imgbox1 .img1,
.imgbox1 .img2,
.imgbox2 .img3,
.imgbox2 .img4{
    width: 50%;
    height: 210px;
    margin: 5px;
}
.imgbox1 .img1{
    height: 250px;
    width: 40%;
}
.imgbox1 .img2{
    height: 210px;
    width: 60%;
}
.imgbox2 .img3{
    height: 190px;
    width: 60%;
    margin-top: -5px;
}
.imgbox2 .img4{
    height: 220px;
    width: 60%;
    margin-top: -30px;
}
.imgbox2 img,
.imgbox1 img{
    height: 100%;
    width:  100%;
    padding: 8px;
}
/*----overview end---*/

/*----GetUpdate part  start---*/
#getUpdate{
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;

}
.getUpdates{
    display: flex;
    width: 80%;
    background: wheat;
    position: absolute;
    padding: 10px 100px;
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

.getUpdates input{
    width: 800px;
    padding: 15px;
    border: 1px solid gray;
    text-align: left;
}
.getUpdates .btn{
    border-radius: 0;
}
/*----GetUpdate part  end---*/

/*----footer part start---*/
#FooterPartStart{
    height: 200px;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    text-align: center;
    background: rgb(20, 14, 14);
}
#FooterPartStart h1{
    color: orangered;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
#FooterPartStart p{
    color: white;
    font-size: 18px;
    margin: 10px 0;
}
#FooterPartStart p span{
    color: orangered;

}

/*----footer part end---*/
